<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Crimes by County</title>
  <meta name="author" content="You">
  <meta name="description" content="Crimes by county in New York State">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>Crimes by County</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>County</th>
        <th>Index Total</th>
        <th>Violent Total</th>
        <th>Property Total</th>
      </tr>
      <% for(character in data){ %>
      <tr>
        <td><a href="<%=data[character].link%>.html"><%= character %></a></td>
        <td><%= data[character].indexTotal %></td>
        <td><%= data[character].violentTotal %></td>
        <td><%= data[character].propertyTotal %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
