<!doctype html>
<html lang="en">

<%- include('global/header', {names: names}) %>

<head>
  <meta charset="utf-8" />
  <title>Crimes by County</title>
  <meta name="author" content="You">
  <meta name="description" content="Crimes by county in New York State">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <link href="/path/to/c3.css" rel="stylesheet">
  <script src="/path/to/d3.v5.min.js" charset="utf-8"></script>
  <script src="/path/to/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  <script src="plotly-2.16.1.min.js"></script>

  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script>
<link
  href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css"
  rel="stylesheet"
/>
<script src="./citysdk.js"></script>

</head>

<body>
  <header>
    <h1>Crimes by County in the last 5 years</h1>
  </header>
  <section id="county-table">
    <table>
      <tr>
        <th>County</th>
        <th>Index Total</th>
        <th>Violent Total</th>
        <th>Property Total</th>
      </tr>
      <% for(county in data){ %>
      <tr>
        <td><a href="<%=data[county].link%>.html"><%= county %></a></td>
        <td><%= data[county]['indexTotal'] %></td>
        <td><%= data[county]['violentTotal'] %></td>
        <td><%= data[county]['propertyTotal'] %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <section>
    <!-- <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
    <div id="map"></div>
<script>

mapboxgl.accessToken = "<your access token here>";
var map = new mapboxgl.Map({
  container: "map",
  style: "mapbox://styles/mapbox/streets-v11",
  center: { lat: 37.0902, lng: -95.7129 },
  zoom: 3
});



</script> -->
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
