<!doctype html>
<html lang="en">

<%- include('global/header', {names: names}) %>

<head>
  <meta charset="utf-8" />
  <title>Crimes by County</title>
  <meta name="author" content="You">
  <meta name="description" content="Crimes by county in New York State">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
  <!-- <link href="../c3.css" rel="stylesheet">
  <script src="../d3.min.js" charset="utf-8"></script>
  <script src="../c3.min.js"></script> -->
  <!-- <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script> -->
  <!-- <script src="plotly-2.16.1.min.js"></script> -->

  <!-- <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script> -->
  <!-- <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css" rel="stylesheet" /> -->
  <!-- <script src="./citysdk.js"></script> -->

  <script src="https://unpkg.com/d3@5.12.0/dist/d3.min.js"></script>
  <link href="https://unpkg.com/c3@0.7.11/c3.min.css" rel="stylesheet">
  <script src="https://unpkg.com/c3@0.7.11/c3.min.js"></script>
</head>

<body>
  <header>
    <h1>Crimes by County in the last 5 years</h1>
  </header>

  <section>
    <div id="chart"></div>
    <script>
    var chart = c3.generate({
      bindto: '#chart',
      size: {
        width: 1050,
        height:480
      },
      padding: {
        left:20,
        right:20,
        top:20
      },
      title: {
        text: 'Crime Totals in New York Counties'
      },
      data: {

        columns: [
          // ['Albany', "231", "420", "948"],
          // ['Allegany', "200", "400", "600"]
          <%for(county in data){%>
            <% let countyNoSpace = toString(county.split(" ").join("_"))%>
            if(county == "New York" || county == "St Lawrence"){
              // [<%=countyNoSpace%>, <%=data[county]['indexTotal']%>, <%=data[county]['violentTotal']%>, <%=data[county]['propertyTotal']%> ],
            <%}%>
          <%}%>

        ]
      },
        padding: {
          left: 50,
          right: 50
      },

      axis: {
        x: {
          type: 'category',
          categories: ['Index Total', 'Violent Total', 'Property Total'],

          label: {
            text: 'Totals',
            position: 'middle'
          }
        },
        y: {
          show: true,
          label: {
            text: 'Value',
            position: 'outer-middle'
          }
        }
      }

    });
  </script>


    </script>
  </section>


  <section id="county-table">
    <table>
      <tr>
        <th>County</th>
        <th>Index Total</th>
        <th>Violent Total</th>
        <th>Property Total</th>
      </tr>
      <% for(county in data){ %>
      <tr>
        <td><a href="<%=data[county].link%>.html"><%= county %></a></td>
        <td><%= data[county]['indexTotal'] %></td>
        <td><%= data[county]['violentTotal'] %></td>
        <td><%= data[county]['propertyTotal'] %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <!-- <section>
    <div id="map" style="width:100%; max-width:700px"></div>
<script>

//let dataArr = [];
// <%for (county in data){%>
//       dataArr.push(<%=data[county]["indexTotal"]%>);
//       <%}%>
// console.log(dataArr);


var data = [{
  type: "choroplethmapbox",
  geojson: "counties.GeoJSON",
  //geojson: "https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json",
  locations: ["Hamilton", "Chenango", "Livingston", "Schuyler", "Schoharie", "Rensselaer", "Oneida", "Wayne", "Suffolk", "Tioga", "Rockland", "Wyoming", "Oswego", "Orleans", "Steuben", "Washington", "St. Lawrence", "Warren", "Westchester",
    "Tompkins", "Otsego", "Chautauqua", "Seneca", "Cayuga", "Queens", "Essex", "Ulster", "Sullivan", "Chemung", "New York", "Monroe", "Nassau", "Onondaga", "Columbia", "Dutchess", "Schenectady", "Saratoga", "Greene", "Ontario",
    "Delaware", "Allegany", "Albany", "Bronx", "Broome", "Clinton", "Erie", "Jefferson", "Fulton", "Madison", "Kings", "Genesee", "Lewis", "Franklin", "Montgomery", "Orange", "Yates", "Cortland", "Richmond", "Cattaraugus",
    "Herkimer", "Niagara", "Putnam"],
  //z: dataArr,
  z: [40462, 2210, 180645, 25718,5146,6138,13743,7465,3606,5571,3897,4123,2586,18340,109372,
    1611,2947,4943,4792,2977,185,4537,10056,249021,911,3140,4636,82946,3776,65588,248053,
    22536,23302,49847,7519,27682,2681,9173,3311,2371,175254,15971,26383,14532,12443,20873,
    1473,295,2445,4896,6312,93889,5267,2098,9856,10543,4423,2039,6755,50613,1501,1094],
  zmin: 0,
  zmax: 200000,
  colorbar: {y: 0, yanchor: "bottom", title: {text:"Crime rates in NY counties"}}
}];

var layout = {mapbox: {center: {lon: -76, lat: 42}, zoom: 4.6},
              width: 600, height:400};

var config = {mapboxAccessToken: "pk.eyJ1Ijoibmlja3JvYmIiLCJhIjoiY2xiNGdxaXMxMDY0ODNvbWtob2s4eTljMSJ9.Rq3u5EkXTlspNVbucQIdcQ"};

Plotly.newPlot('map', data, layout, config);

</script>
  </section> -->

  <%- include ('global/footer');  %>

</body>

</html>
